:root {
  --light-green: rgb(156, 255, 166);
  --mid-green: rgb(20, 103, 28);
  --dark-green: rgb(3, 29, 5);
}

body {
  background-color: rgb(39, 39, 39);
  color: rgb(156, 255, 166);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  min-height: 100vh;
}

h1 {
  color: white;
  margin-top: 6px;
}

h2 {
  font-size: 1.4em;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  width: 100%;
  background-color: black;
}


.navbar img {
  height: 35px;
  margin: 0px 12px 0px 12px;
}

.navbar input {
  background-color: rgb(39, 45, 45);
  border-radius: 4px;
  height: 30px;
}

.nav-search {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.search-input {
  display: flex;
  flex-direction: column;
}

button[id="search button"] {
  border: 1px solid rgb(156, 255, 166);
  border-radius: 6px;
  margin-left: 6px;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size: 1.4rem;
  margin-right: 20px;
}

.topmenu {
  display: flex;
  gap: 16px;
  font-size: 1.2rem;

}

.topmenu a::first-letter {
  text-transform: uppercase;
}

.topmenu .top-where {
  text-decoration: underline;
}

.content {
  display: flex;
  gap: 10px;
  height: calc(100vh - 50px);
}

.left-nav {
  width: 275px;
  height: 100%;
  color: black;
  background-color: #b1b1b1;
  padding: 10px 16px 10px 16px;
  font-size: 1.2em;
  overflow: auto;
}

.left-nav h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--dark-green);
}

.list-header {
  font-weight: bold;
  text-transform: capitalize;
}
.nav-items {
  margin-bottom: 12px;
}

.list-child {
  padding-left: 6px;
}