:root {
  
  --blue: #283593;
  --dark-blue: #2c3155;
  
  --light-green: rgb(156, 255, 166);
  --mid-green: rgb(20, 103, 28);
  --dark-green: rgb(3, 29, 5);

  --dark-grey: #212121;
  --mid-grey: #2c2c2c;
  --light-grey: #c5c5c5;
}

body {
  background-color: white;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  height: 100%;
  overflow: auto;
}

.getting-started {
  margin: 0px 12px 0px 20px;
  padding: 10px 0px 0px 5px;
  height: calc(100vh - 50px);
  top: 50px;
  overflow-y: auto;
  display: block; 
}

.getting-started h3 {
  margin: 12px auto 24px auto;
  font-style: italic;
  font-size: 1.5em;
}

.getting-started img {
  width: 90%; 
}

.getting-started-content {
  margin: 10px;
  width: 1100px;
  font-size: 1.2em;
  font-weight: 100;
}

.getting-started-content div {
  margin-top: 20px;
}

#home {
  object-fit: cover;
  display: block;
  margin-top: 30px;
}

#components {
  width: 70%;
  display: block;
  margin: 20px;
}

h1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

h2 {
  font-size: 1.4em;
}

.prototype {
  width: 100%;
  background-color: white;
  height: calc(100vh - 50px);
  top: 50px;
  overflow-y: auto;
  color: black;

}

.proto-title {
  display: flex;
  align-items: center;
  color: black;
  text-transform: capitalize;
  font-weight: 100;
  margin: 12px 0px 12px 12px;
  max-width: 900px;
}

.proto-title h1 {
  font-size: 3em;
}

.drop-down {
  margin-left: 520px;
}

.custom-drop-down {
  position: relative;
  margin-left: 520px;
}

.custom-drop-down .label {
  width: 250px;
  height: 45px;
  padding: 4px 4px 4px 12px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  
}

.options {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 250px;
  height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 2px;
}

.options div {
  height: 50%;
  padding: 4px 4px 4px 12px;
  display: flex;
  align-items: center;
}

select[id="cars"]{
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
  width: 250px;
}

.right {
  margin-left: auto;
  margin-right: 8px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  width: 100%;
  background-color: var(--blue);
  position: sticky;
  top: 0;
  color: white;
}


.navbar img {
  height: 35px;
  margin: 0px 12px 0px 12px;
}

.navbar input {
  background-color: var(--light-grey);
  border-radius: 4px;
  height: 30px;
  border: 1px solid white;
  color: black;
}

.nav-search {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.search-input {
  display: flex;
  flex-direction: column;
}

button[id="search button"] {
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  color: white;
  margin-left: 6px;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

.nav-title {
  font-size: 1.4rem;
  margin-right: 20px;
}

.topmenu {
  display: flex;
  gap: 16px;
  font-size: 1.2rem;

}

.topmenu a::first-letter {
  text-transform: uppercase;
}

.topmenu .top-where {
  text-decoration: underline;
}

.content {
  display: flex;
}

.left-nav {
  width: 275px;
  color: white;
  background-color: var(--dark-blue);
  padding: 10px 16px 10px 16px;
  font-size: 1.2em;
  min-height: calc(100vh - 50px);
  overflow: auto;
}

.left-nav h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: white;
}

.list-header {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.side-item {
  font-weight: bold;
  text-transform: capitalize;
  margin: 4px;
}

.side-item::before {
  content: "\2007";
  display: inline-block;
}

.list-header::before {
  content: "\203A";
  display: inline-block;
}

.clicked-list-header::before {
  content: "\203A";
  display: inline-block;
  transform: rotate(90deg);
}

.list-items {
  font-weight: normal;
  padding-left: 10px;
  margin: 2px 0px 10px 0px;
}
.nav-items {
  margin-bottom: 12px;
}

.list-child {
  padding-left: 6px;
  margin-bottom: 8px;
}
.none {
  display: none;
}