---
import NavBar from '../../components/NavBar.astro';
import SideNav from '../../layouts/SideNav.astro';
import TopMenu from '../../components/TopMenu';
import MainLayout from '../../layouts/MainLayout.astro';
import Content from '../../layouts/Content.astro';
import {site} from '../../site-nav.js';
const where = Astro.url.pathname.split('/');
---
<MainLayout>
  <NavBar>
    <TopMenu menu={Object.keys(site)} where={"components"} client:load></TopMenu>
  </NavBar>
  
  <Content>
    <SideNav where={"components"}></SideNav>
      <div class="prototype">
        <div class="proto-title">
        <h1>Button</h1>
        <div class="custom-drop-down">
          <div class="label" id="custom-button">Component API</div>
          <div class="options none" id="options">
            <div>Option 1</div>
            <div>Option 2</div>
          </div>

          <!--label for="cars" style="display: none;">Component API:</label>
            <select name="cars" id="cars">
              <option disabled selected hidden>Component API</option>
              <option value="volvo">Forge 2.x [current]</option>
              <option value="saab">TCW 1.x [legacy]</option>
            </select-->
        </div>
        </div>
        <img src="/modified.png"/>
      </div>
    </Content>
</MainLayout>
<script>
  let myButton = document.getElementById("custom-button");
  myButton.addEventListener("click", () => {
    let options = document.getElementById("options");
    options.classList.toggle("none");
  });
</script>