---
import NavBar from '../../components/NavBar.astro';
import SideNav from '../../layouts/SideNav.astro';
import TopMenu from '../../components/TopMenu';
import MainLayout from '../../layouts/MainLayout.astro';
import Content from '../../layouts/Content.astro';
import {site} from '../../site-nav.js';
const where = Astro.url.pathname.split('/');
---
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<MainLayout>
  <NavBar>
    <TopMenu menu={Object.keys(site)} where={"components"} client:load></TopMenu>
  </NavBar>
  
  <Content>
    <SideNav where={"components"}></SideNav>
      <div class="prototype">
        <div class="proto-title">
        <h1>Button</h1>
        <div class="custom-drop-down">
          <div class="label" id="custom-button">Component API</div>
          <div class="options none" id="options">
            <div>Forge 2.x<span class="material-symbols-outlined right">open_in_new</span></div>
            <div>TCW 1.x<span class="material-symbols-outlined right">open_in_new</span></div>
          </div>
        </div>
        </div>
        <img src="/button-page.png"/>
      </div>
    </Content>
</MainLayout>
<script>
  let myButton = document.getElementById("custom-button");
  myButton.addEventListener("click", () => {
    let options = document.getElementById("options");
    options.classList.toggle("none");
  });
</script>