---
import NavBar from '../components/NavBar.astro';
import SideNav from '../layouts/SideNav.astro';
import TopMenu from '../components/TopMenu';
import MainLayout from '../layouts/MainLayout.astro';
import Content from '../layouts/Content.astro';
import {site} from '../site-nav.js';
const where = Astro.url.pathname.substring(1).replace("-", " ");
---

<MainLayout>
    <NavBar>
        <TopMenu menu={Object.keys(site)} where={where} client:load></TopMenu>
    </NavBar>
    <Content>
      <div style="background-color: #fff; width: 100%;">
        <img id="home" src="/exported-2.png"/>
      </div>
    </Content>
</MainLayout>