<div class="navbar">
 
  <img src="/forge2.png">
  <span class="nav-title">Forge 2</span>
  <slot></slot>

  <div class="nav-search">
    <div class="search-input">
      <label for="site-search"></label>
      <input type="search" id="site-search">
    </div>
      <button id="search button">Search</button>
  </div>
</div>