<div class="navbar">
 
  <img src="/forge2.png">
  <span class="nav-title">Forge 2</span>
  <slot></slot>

  <div class="nav-search">
    <div class="search-input">
      <label for="site-search"></label>
      <input type="search" id="site-search">
    </div>
      <button id="search button" type="submit">Search</button>
  </div>
</div>
<script>
  let searchButton = document.getElementById("search button");
  let searchNotice = "This is a prototype, and we don't have search implemented. But tell us what you expected."
  searchButton.addEventListener("click", () => alert(searchNotice));
</script>