---
import '../styles/normalize.css';
import '../styles/reset.css';
import '../styles/styles.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hybrid navigation codotype</title>
    <link rel="icon" href="/forge2.png" type="png">

  </head>
  <body>
    <slot>
    </slot>
  </body>
  </html>