---
import {SITE} from "../NAV";
import SideMenu from '../components/SideMenu';
const otherSite = {components: [], patterns: []};
---
<div class="left-nav"><SideMenu items={SITE.components} client:load></SideMenu></div>